<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Confirmation Info</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }
    </style>
</head>
<body>
<section>
    <header>
        <h1>Pizza Order page - Order confirmation </h1>
    </header>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Order ID </b></td>
            <td th:text="${order.getOrderId()}"></td>
        </tr>
        <tr>
            <td><b>Client Name </b></td>
            <td th:text="${order.getClientName()}"></td>
        </tr>
        <tr>
            <td><b>Client Address </b></td>
            <td th:text="${order.getClientAddress()}"></td>
        </tr>
        <tr>
            <td><b>Client IP Address</b></td>
            <td th:text="${ip}"></td>
        </tr>
        <tr>
            <td><b>Client Browser</b></td>
            <td th:text="${browser}"></td>
        </tr>
        <tr>
            <td><b>Client OS</b></td>
            <td th:text="${os}"></td>
        </tr>
        <tr>
            <td><b>Pizza Type </b></td>
            <td th:text="${order.getPizzaType()}"></td>
        </tr>
        <tr>
            <td><b>Pizza Size </b></td>
            <td th:text="${order.getPizzaSize()}"></td>
        </tr>
    </table>
    <div>
        <form th:action="@{/confirmationInfo.do}" method="POST">
            <button type="submit" th:value="logout" th:name="logout" >Log out</button>
        </form>
    </div>


</section>
</body>
</html>